<h1>Baash: informe</h1>

<blockquote>
  <p><em>Grupo ?:</em> Ledesma Noelia, Mancera Rodrigo, Godoy Lucas <br />
Sistemas Operativos 2013 <br />
FaMAF - Univ. Nacional de Cordoba - Argentina  </p>
</blockquote>

<h2>Introduccion</h2>

<p>El proyecto de laboratorio numero 1 consistio en implementar un shell basico siguiendo el standard de UNIX. <br />
El shell en cuestion (denominado baash) deberia ser capaz de ejecutar comandos ingresados por el usuario, redireccionar la salida standard a un archivo y/o tomar por entrada standard datos de otro archivo. Ademas tambien se prevee la comunicacion entre comandos mediante un pipe de redireccion. <br />
A continuacion se describe el proceso de implementacion.</p>

<h2>Herramientas usadas</h2>

<p>Las herramientas usadas son las que fueron otorgadas o sugeridas por los docentes. Estas incluyen el lenguaje de programacion C (junto con su libreria standard), la libreria bstring, la libreria GLib, los modulos lexer y parser (otorgados por los docentes), GNU make, Valgrind y GDB. A su vez los docentes entregaron 'unit tests' implementados con la herramienta 'check' que usamos para asegurar que el programa sea correcto.</p>

<h2>Aspectos de la implementacion</h2>

<blockquote>
  <h3>Pipes</h3>

<p>Se implemento baash para n pipes. Pudiendo soportar varios comandos encadenados por pipes. <br />
En un principio se penso en crear la cantidad necesaria de pipes antes de crear todos los procesos. Pero este metodo era muy
molesto y costoso a la hora de cerrar todos los otros pipes no usados por cada proceso hijo. (Ya que, el ser creados los pipes
en el procesos padre, cada uno de los hijos hereda copias de lo mismos.)
Investigando un poco por internet se encontro un pseudocodigo [1] el cual daba una idea de tener solo 2 pipes, uno viejo y uno
nuevo, e ir 'rotando' entre ellos. Decidimos adaptar esa solucion ya que es mas eficiente y sencilla.</p>

<h3>Mensajes de error</h3>

<p>Se trato de imitar el comportacmiento de GNU bash en los mensajes.
Se implemento la funcion <code>prettyerr()</code> la cual sirve de 'wrapper' a la funcion <code>perror()</code>. El objetivo de esta es poder
formatear una cadena de caracteres para despues pasarsela a <code>perror()</code>. Ya que esta ultima funcion no acepta codigo formateado
solo cadenas. Para lo cual se utilo la libreria bstring para facil manipulacion, aunque tambien se podria haber usado el
modulo <code>&lt;string.h&gt;</code> de C.</p>
</blockquote>

<h2>Problemas encontrados</h2>

<blockquote>
  <h3>Memory Leaks</h3>

<p>Tanto memory leaks como lecturas o escrituras invalidas fueron encontradas durante la prueba del programa. Todos fueron solucionados usando la herramienta valgrind. Sin embargo quedaron leaks relacionados con la libreria GLib que no pudimos rastrear y quedaron sin resolver.</p>

<h3>Procesos</h3>

<p>Uno de los problemas mas importantes es que estabamos creando nuevos procesos por cada <enter> (comando vacio) lo cual no solo
gastaba mas recursos sino que ademas alteraba los casos de pruebas para los procesos zombies. Esto se debe a que por cada
comando vacio, al no tener '&amp;', el shell tenia que esperarlo a que terminara.</p>

<h3>Procesos 'Zombies'</h3>

<p>Para esta parte se trato de simular lo mas posible el estilo implementado en GNU bash.
En general se modifico varias veces la posicion y forma de la llamada a <code>waitpid()</code> hasta comprender que estaba pasando. Ultimamente se opto por llamar al siguiente bucle en cada iteracion del programa principal:  </p>
</blockquote>

<pre><code>          while (waitpid (-1, &amp;cstatus, WNOHANG) &gt; 0);
</code></pre>

<blockquote>
  <p>El cual cierra todo los procesos zombies que sean posibles. Asi, si por ejemplo, se lanza el comando <code>firefox | evince&amp;</code> y uno de ellos
(o los 2) finaliza, este quedara en modo zombie hasta que se llame al siguiente comando (cualquiera) y el loop de arriba lo limpie.
En este sentido no se pudo simular el comportamiento de GNU bash el cual cuando uno de los comandos simples de arriba finaliza es automaticamente limpiado.
Por otro lado si se parece bastante a la forma de manejar los procesos zombies de dash (Debian Alchimist shell).</p>
</blockquote>

<h2>A tener en cuenta</h2>

<ul>
<li>Notar que al llamar <code>g_queue_pop_head ()</code> hasta que la lista este vacia devuelve <code>NULL</code>, habiendo destruido la lista.</li>
<li>Los elementos de la lista en la funcion (almacenados en la variable <code>current</code>) <code>pipeline_to_string</code> no deben ser destruidos, puesto que de lo conrario surge un Segmentation Fault.</li>
<li>El segundo argumento de la funcion <code>close_pipe</code> en execute.c se usa para propositos de debugging.</li>
</ul>

<h2>Otras cosas</h2>

<blockquote>
  <h3>Debugging</h3>

<p>Se utilizo mucho los mensajes de error leidos por la funcion <code>perror()</code> y llamadas a <code>exit()</code> para encontrar bugs y fallas
en la implementacion. Tambien se uso GDB aunque no tanto como en otros proyectos ya que el llamar a <code>fork()</code> para crear un
nuevo hijo GDB continua la execucion del padre sin poder ver el comportamiento del hijo.</p>

<h3>Mensaje de bienvenida</h3>

<p>Se opto por crear un mensaje de bienvenida para cuando se inicia el baash (solo porque si :).
Por lo cual el archivo <code>welcome</code> que contiene el mensaje es necesario. En caso de no encontrar el archivo
el programa solo muestra un mensaje de error y continua su ejecucion.</p>
</blockquote>

<h2>Bibliografia</h2>

<p>[1] http://stackoverflow.com/questions/916900/having-trouble-with-fork-pipe-dup2-and-exec-in-c/</p>
