<h1>/dev/fifo: Informe</h1>

<blockquote>
  <p><em>Grupo 22:</em> Ledesma Noelia, Mancera Rodrigo, Godoy Lucas <br />
Sistemas Operativos 2013 <br />
FaMAF - Univ. Nacional de C&oacuterdoba - Argentina  </p>
</blockquote>

<h2>Introducci&oacuten</h2>

<blockquote>
  <p>En este proyecto seguimos lo especificado en el enunciado para realizar un
controlador de dispositivos de caracteres en espacio de kernel.<br>
En particular el dispositivo es una cola que sirve como buffer entre dos
procesos cualesquiera: un productor de datos y un consumidor.<br> 
Es decir que en este laboratorio debemos tratar con dos problematicas en 
particular, por un lado la de implementar un m&oacutedulo de kernel y por el 
otro tratar con el problema del productor consumidor.</p>
</blockquote>

<h2>Herramientas usadas</h2>

<blockquote>
  <p>El proyecto fue implementado en C como lo especificado y se emple&oacute la
estructura rbuffer ya implementada y provista por la c&aacutetedra.<br>
Dado que la implementaci&oacuten de dicho m&oacutedulo fue en espacio de kernel
fue muy util tambi&eacuten el archivo <code>debug.h</code> provisto para poder 
imprimir de manera sencilla en el kernel ring buffer y debugear.<br>
Por otro lado fue de mucha ayuda el documento <code>pcl.pdf</code> [0] provisto, 
el cual contiene mucha informaci&oacuten para la correcta implementaci&oacuten 
de m&oacutedulos para el kernel de linux.</p>
</blockquote>

<h2>Aspectos de la implementaci&oacuten</h2>

<blockquote>
  <h3>Operaciones</h3>

<blockquote>
  <p>El m&oacutedulo consiste de 2 archivos principales: un <code>main.c</code> 
que contiene las variables globales y su inicializaci&oacuten, y un 
<code>fifoops.c</code> que contiene las operaciones que se pueden realizar en el 
dispositivo; en este caso leer (<code>fifo_read</code>) y escribir 
(<code>fifo_write</code>). La funci&oacuten <code>fifo_read</code> crea un buffer 
temporal donde luego se almacenan los contenidos solicitados del rbuffer. Una 
vez lleno, se copia el buffer temporal al espacio de usuario usando la 
funci&oacuten <code>copy_to_user</code>.<br> 
La funci&oacuten <code>fifo_write</code> tiene un comportamiento similar: 
primero se copian desde el espacio de usuario los elementos que se desean 
escribir en el rbuffer dentro de un buffer temporal. Luego se insertan los 
elementos del buffer temporal en el rbuffer.</p>
</blockquote>

<h3>Operaciones opcionales</h3>

<blockquote>
  <p>En nuestro fifoops.c tambi&eacuten podemos implementar las funciones open 
(<code>fifo_open</code>) y release (<code>fifo_release</code>). La funci&oacuten 
<code>fifo_open</code> se encarga de asegurar que haya al menos un lector o al 
menos un escritor cada vez que se abre un fichero. El par&aacutemetro 
<code>flags</code> se comporta como un permiso a trav&eacutes de sus macros 
permitiendo asi saber cuando los ficheros deben ser abiertos para lectura
(O_RDONLY), escritura (O_WRONLY) o ambas casos (O_RDWR); esto nos permite 
lograr que cuando haya permiso para lectura y no haya lectores entonces los 
incrementamos, en el caso de tener permiso para escritura ocurre lo mismo solo 
que en este caso debemos asegurarnos que al momento de escribir no haya ningun 
lector que ya haya empezado a leer. En esta implementacion hacemos uso del 
sem&aacuteforo <code>mutex</code> ya que necesitamos de la exclusion mutua sino 
podria ocurrir una interrupcion y permitirse mas de un lector o escritor.<br> 
La funci&oacuten <code>fifo_release</code> se encarga de ir decrementando los 
lectores y escritores a tr&aacuteves de los permisos para cerrar el fichero. En 
&eacutesta funci&oacuten tambi&eacuten se utiliza el sem&aacuteforo 
<code>mutex</code> para evitar que al momento de decrementar los lectores y 
escritores no ocurra una interrupcion que cambie los valores esperados.<br>
Al implementar dichas funciones nos vimos obligados a agregar variables globales 
como readers_count y writers_count que lleven la cuenta de cuantos lectores y 
escritores se estan ejecutando. Aprovechando la creaci&oacuten de estas variables
creamos una funci&oacuten que nos imprime la informaci&oacuten de estas y de 
otras variables mas como rbuffer_size (lleva la cuenta de cuantos elementos 
tiene el buffer), read_count (lleva la cuenta de cuanto se leyo hasta el momento) 
y operation (operacion que se esta ejecutando); de esta forma el usuario puede 
ir observando en que momento se acciona el lector, cuanto lee, cuando se acciona 
el escritor, cuanto escribe, que porcentaje del buffer se esta ocupando, cuando 
se desocupa y ocupa nuevamente, etc.</p>
</blockquote>

<h3>Sincronizaci&oacuten</h3>

<blockquote>
  <p>Se decidio usar 3 semaforos: el primero fue inicializado en 0 (la cantidad
de elementos dentro del rbuffer). Se le aplica la operaci&oacuten V luego de
insertar un elemento en el rbuffer y la operaci&oacuten P antes de leer un
elemento del rbuffer. De este modo, el sem&aacuteforo indica la cantidad de
elementos que estan actualmente en el rbuffer y cuando se quiera extraer un
elemento se tendra que esperar a que se inserte uno nuevo. El segundo sem&aacuteforo
fue inicializado en <code>size</code> que es la cantidad m&aacutexima de 
elementos que puede alojar el rbuffer. El sem&aacuteforo decrementa antes de 
insertar un nuevo elemento e incrementa cuando se extrae un elemento del rbuffer. 
De este modo nunca se escribe en el rbuffer si &eacuteste est&aacute lleno. Por 
&uacuteltimo el tercer sem&aacuteforo <code>mutex</code> fue inicializado en 1 
para indicar que esta disponible al momento de ser llamado, este sem&aacuteforo 
se encarga de asegurar la <code>exclusi&oacuten mutua</code>, es decir, que 
cierta zona del c&oacutedigo llamada zona cr&iacutetica, no sea interrumpida 
hasta que termine de ejecutarse para evitar la alteraci&oacuten de nuestros 
valores por algun otro proceso.</p>
</blockquote>

<p></blockquote></p>

<h2>Problemas encontrados</h2>

<ul>
<li><p>En un principio, cuando se deseaba insertar el m&oacutedulo, resultaba en 
una pantalla negra de error. Esto fue debido al mal manejo de punteros y fue
solucionado sin mayores problemas. Debido a &eacutesto nos dimos cuenta que
programar en espacio de kernel es un poco mas serio que en espacio de 
usuario.</p></li>
<li><p>En una de las primeras implementaciones, nos dimos cuenta que si 
asignabamos al par&aacutemetro de entrada <code>size</code> un valor mayor o 
igual a 2^22 no se podia crear el ringbuffer. Suponemos que esto es debido a que 
en nuestros sistemas el l&iacutemite de posible espacio a alojar por la 
funci&oacuten <code>kmalloc</code> debe estar configurada en ese valor. Teniendo 
en cuenta que el l&iacutemite m&aacuteximo definido en <code>slab.h</code> para
<code>kmalloc</code> es, por defecto, de 2^25 [1].
&Eacutesto sirvi&oacute para darnos cuenta de que no desregistrabamos el 
dispositivo si el m&oacutedulo terminaba prematuramente con c&oacutedigo de error, 
lo que causaba que el major number utilizado quedara ocupado.</p></li>
</ul>

<h2>Bibliograf&iacutea</h2>

<blockquote>
  <p>[0] Programaci&oacuten de Controladores para Linux - E. Hames; J. Blaco; F. Luque <br />
[1] <a href="http://lxr.free-electrons.com/source/include/linux/slab.h#L180">http://lxr.free-electrons.com/source/include/linux/slab.h#L180
      </a>  </p>
</blockquote>
