<h1>ChiquitinFS: Informe</h1>

<blockquote>
  <p><em>Grupo 22:</em> Ledesma Noelia, Mancera Rodrigo, Godoy Lucas <br />
Sistemas Operativos 2013 <br />
FaMAF - Univ. Nacional de Cordoba - Argentina  </p>
</blockquote>

<h2>Introduccion</h2>

<blockquote>
  <p>En este proyecto seguimos lo especificado en el enunciado para realizar un
sistema de archivos sencillo. El dise&ntilde;o del mismo fue realizado por la
catedra y nuestro trabajo, en particular, fue implementar la siguientes
operaciones: <code>statfs, getattr, chmod, chown, utimens, rename, readdir, read</code>.</p>
</blockquote>

<h2>Herramientas usadas</h2>

<blockquote>
  <p>El proyecto fue implementado en C como lo especificado y gracias a FUSE
nos evitamos tener que lidear con los problemas relacionados a desarrollar en
espacio de kernel y, en vez de eso, trabajar comodos en espacio de usuario.
Ademas de lo mencionado se utilizaron una bateria de tests comprobar la
correctitud del sistema de archivos y una serie de ejemplos para las pruebas
el sistema sobre los mismos, ambos implementados por la catedra.</p>
</blockquote>

<h2>Aspectos de la implementacion</h2>

<blockquote>
  <h3>Funciones Auxiliares</h3>

<blockquote>
  <p>Fue necesario (y de gran ayuda) la creacion de las siguientes funciones
auxiliares:  </p>

<ul>
<li><p><code>find_path</code> Es la funcion que se encarga de encontrar la entrada en
el directorio raiz de un archivo. <br />
Fue muy importante el uso de aritmetica de punteros y de casteo para
realizar bien la funcion.</p></li>
<li><p><code>get_available_blocks</code> Necesaria para implementar <code>chiquitin_statfs</code>.</p></li>
<li><p><code>get_file_block</code> Funcion que encuentra el i-esimo bloque de un
archivo. Util para moverse dentro de un archivo y para implementar
la operacion <code>chiquitin_read</code></p></li>
</ul>
</blockquote>

<h3>Programacion Defensiva</h3>

<blockquote>
  <p>Se trato de aplicarla lo mas posible a lo largo de todo el laboratorio.
En particular funciones como <code>chiquitin_create, chiquitin_destroy</code> muestran
su uso. Fue muy importante tener en cuenta de liberar los recursos
utilizados al momento de una falla o error de manera de salir "gracefully".
En la funcion <code>chiquitin_create</code> fue complicado lograr el comportamiento
adecuado de la funcion con respecto a fallos.</p>
</blockquote>

<p></blockquote></p>

<h2>Problemas encontrados</h2>

<ul>
<li><p>Tuvimos dificultades para lograr el correcto funcionamiento de las funciones:
<code>read, create, statfs y getattr</code>. Pero a base de prueba y error, y varias
releidas del enunciado pudimos implementarlas.</p></li>
<li><p>Intentamos probar todo el proyecto antes de que la operacion <code>read</code> estuviera
finalizada, lo cual nos llevo a varios dolores de cabeza y a funcionamientos
inesperados con los ejemplos provistos.</p></li>
<li><p>Nos costo comprender todo el enunciado y decidir como dividir la tarea a
realizar.</p></li>
<li><p>A la hora de leer los tests para entender porque estaban fallando tuvimos que
aprender un poco the bash scripting.</p></li>
</ul>
